# Python & C artifacts
*.py[co]
__pycache__
*.c
*.so
.ipynb_checkpoints
*.ipynb

# Profiler output / stats
*.prof
timings.txt
# cython -a
*.html

# Build system directories and secrets
.pypirc
/build
/dist
/wheelhouse
/.eggs
/*.egg-info

# pycharm
.idea/
.idea

# Installer logs
pip-log.txt

# Unit test / coverage reports
.tox
.cache
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
