# Python & C artifacts
*.py[co]
__pycache__
*.c
*.so

# Build system directories and secrets
.pypirc
/build
/dist
/wheelhouse
/.eggs
/*.egg-info

# pycharm
.idea/
.idea

# Installer logs
pip-log.txt

# Unit test / coverage reports
.tox
.cache
.coverage
.coverage.*
.pytest_cache
htmlcov/

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
