certifi==2018.4.16
chardet==3.0.4
Cython==0.28.4
idna==2.7
numpy==1.14.5
packaging==17.1
pkginfo==1.4.2
pyparsing==2.2.0
requests==2.19.1
requests-toolbelt==0.8.0
scipy==1.1.0
six==1.11.0
tqdm==4.23.4
twine==1.11.0
urllib3==1.23
