# This is a listing of runtime requirements; use dev-requirements.txt for
# things like the output of `pip freeze` in a dev environment
# Cython is an additional build-time requirement (more info in setup.py)
numpy
scipy
